<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>java6</display-name>

    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>ru.rsreu.java6.controller.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listUsers</servlet-name>
        <servlet-class>ru.rsreu.java6.controller.ListUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listUsers</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

</web-app>